a:visited.menuLinkDec,
a:link.menuLinkDec {
    color: rgb(175, 175, 175);
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: rgb(185, 185, 185);
}

a:hover {
    color: rgb(185, 185, 185);
}

.form {
    border: 0px;
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
}

@font-face {
    font-family: myFont;
    src: url(Assets/Font/Dosis-SemiBold.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: myFont;
    text-align: left;
    text-shadow: 0 0 1px rgb(55, 55, 55);
    background: #181330;
    color: white;
    animation: transitionIn .5s ease-out;
    text-underline-offset: 5px;
}

::selection {
    background: hsl(41, 50%, 55%);
    color: white;
}

.bgImageMusic {
    background-image: url(https://microtwi.com//Assets/musicBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -5;

    box-shadow: inset 0 0 75px rgba(0, 0, 0, .3);
}

.bgImageEQT {
    background-image: url(https://microtwi.com//Assets/eqtBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -5;

    box-shadow: inset 0 0 75px rgba(0, 0, 0, .3);
}

.bg {
    background-color: rgba(255, 255, 255, 0.1);
    width: 95px;
    padding: 5px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 11px;
}

.line {
    color: white;
}

.rounded-corners {
    text-align: center;
    font-size: 17px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    transition: .3s;
}

.review {
    font-size: 17px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    transition: .3s;
    padding: 5px;
}

.rounded-corners:hover {
    opacity: 0.8;
}

#playImg {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    scale: 0;
    animation: playBtnIn .75s ease-out;
}

.eqt_bg {
    padding: 0%;
    border: 0px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);

    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    scale: 1;

    transition: .5s;
}

#eqtLogo {
    position: absolute;
    top: 1%;
    left: 40%;
    object-fit: cover;
    width: 22%;
}

/* full screen image */
.fullscreenImageBG {
    scale: 0;
    background-color: rgb(0, 0, 0, .0);
    transition: .2s;
    background-color: #3D316995;
}

.fullscreenImageBG.active {
    background-color: rgb(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    border: 0px;
    scale: 1;

    padding: 0px;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 50;
    position: fixed;
}

.fullscreenImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 80vw;
    max-height: 100vh;

    background-color: #3D316955;
    border-radius: 11px;

    border-radius: 11px;
    z-index: 51;
    box-shadow: 0px 0px 15px 0px #6a57ad64;
}

.button {
    scale: 1;
    border-radius: 11px;
    font-size: 17px;
    padding: .5%;
    background-color: rgba(255, 255, 255, 0);
    border: 1.5px solid rgb(255, 255, 255, .05);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .1s;
}

.button:hover {
    scale: 1.1;
    background-color: rgba(255, 255, 255, 0.1);
}

.contentBg {
    padding: 11px;
    border-radius: 11px;
    border: 1px solid rgb(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px 3px rgb(19, 18, 32, .5);
}

.changelogContentBg {
    padding: 11px;
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}

.imgDesc {
    text-align: left;
    padding: 10px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, .05);
    scale: 1;
    /* transform: rotate(0deg); */
    transition: .3s;
}

.imgDesc:hover {
    /* transform: rotate(-.5deg); */
    scale: 1.01;
}

.tableBg {
    /* padding: 11px; */
    display: grid;
    grid-template-areas:
        "div div";
    gap: 10px;

    width: 100% - 22px;
    border-radius: 11px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* border: 1px solid rgb(255, 255, 255, .05); */
}

.scrollingDiv {
    overflow: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}

.scrollingDiv:hover {
    overflow: auto;
    overflow-x: auto;
}

.title {
    font-size: 32px;
    color: rgb(210, 181, 117);
}

.sub-title {
    font-size: 20px;
    color: rgb(210, 181, 117);
}

.description {
    color: rgb(222, 222, 222);
    transition: .5s all;
}

.center-text {
    text-align: center;
}

.offset {
    text-align: left;
    margin-top: 0px;
    padding-top: 50px;
    padding-left: 13%;
    padding-right: 13%;
    width: auto;
    color: white;
    transition: all .5s;
}

.audioPlayer {
    width: 100%;
    background-color: rgb(241, 243, 244);
    border: 3px solid rgb(174, 174, 174);
    border-radius: 11px;
}

.modal::backdrop {
    background-color: rgb(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    animation: fadeIn .2s;
}

.modal {
    padding: 5px;
    padding-top: 15px;
    font-family: myFont;
    text-align: center;
    border: 1.5px solid rgb(255, 255, 255, .05);
    text-shadow: 0 0 1px #3D316990;
    background: #3D316995;
    color: white;
    border-radius: 11px;
    animation: modalIn .2s ease-out;
}

@keyframes modalIn {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: .8;
    }
}

#context-menu {
    list-style-type: none;
    position: fixed;
    width: auto;
    background: #2b225695;
    border: 1.5px solid rgb(255, 255, 255, .05);
    backdrop-filter: blur(10px);
    border-radius: 11px;
    z-index: 9999;
    padding: 5px;

    backface-visibility: hidden;

    transform: scale(0.0001);
    transform-origin: top left;
    transition: transform .1s;
}

#context-menu.active {
    transform: scale(1);
    transition: transform .2s;
}

#context-menu.activated {
    transform: scale(1);
    transition: all .1s;
}

nav ul {
    border: 1.5px solid rgb(255, 255, 255, .05);
    border-radius: 11px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    padding: 0px;
    padding-top: 9px;
    padding-bottom: 5px;

    height: 55px;
    width: calc(100% - 20px);
    position: fixed;
    text-align: center;
    box-shadow: 0px 0px 25px 5px rgb(19, 18, 32, 1);
    background: #3D316995;
    color: white;
    animation: menuIn .5s ease-out;
    backdrop-filter: blur(10px);
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 50;
    transition: all .5s;

    align-items: center;
    display: flex;
    justify-content: center;
}

#check {
    display: none;
}

#check:checked~ul {
    padding: 0px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    /* border-radius: 0px;calc(100% - 10px); */
    margin: 5px;
    display: inline;
    white-space: pre-line;
    overflow-y: auto;
}

.menuLinkLongAlt {
    text-align: left;

    list-style: none;
    text-decoration: none;
    border: 1.5px solid rgb(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);

    height: 35px;
    width: 100%;
    border-radius: 9px;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}

.menuLink,
.checkbtn img,
label {
    list-style: none;
    text-decoration: none;
    border: 1.5px solid rgb(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);

    border-radius: 8px;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}

.menuLinkLong {
    text-decoration: none;
    border: 1.5px solid rgb(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, .1);
    color: rgb(255, 255, 255);

    width: 100%;
    border-radius: 9px;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}

.menuLinkAlt2 {
    text-decoration: none;
    border: 1.5px solid rgb(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, .1);
    color: rgb(255, 255, 255);
    border-radius: 9px;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

.menuLinkDec {
    border: 1.5px solid rgb(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);

    border-radius: 8px;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}

.menuLink:hover,
.menuLinkLong:hover,
.menuLinkLongAlt:hover,
.menuLinkDec:hover,
.altBtn:hover,
.checkbtn img:hover {
    border: 1.5px solid rgb(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, 0.2);
}

.mainDropDown {
    border: 1.5px solid rgb(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 11px;
    padding: 11px;
    display: grid;
    gap: 10px;
}

.quickLinks {
    border: 1.5px solid rgb(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 11px;
    padding: 0px;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "div div div";
}

.altBtn {
    border: 1.5px solid rgb(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 11px;
    font-size: 17px;
    border-radius: 11px;
    display: grid;
    text-decoration: none;
    transition: .3s;
}

.quickLinks a img {
    margin-bottom: -3px;
}

.footerBG {
    border: 1.5px solid rgb(255, 255, 255, .05);
    box-shadow: 0px 0px 25px 5px rgb(19, 18, 32, 1);
    border-radius: 11px;
    text-align: center;
    background: #3D316995;
    backdrop-filter: blur(10px);
    width: auto;
    padding: 9px;

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 40px);
}

.footerContent {
    border: 1.5px solid rgb(255, 255, 255, .05);
    border-radius: 11px;
    margin-left: 25%;
    width: 50%;
    display: grid;
    gap: 5px;
    grid-template-areas: "div div";
}

@media (max-width:950px) {
    nav ul {
        padding: 0%;
        height: 77px;
        margin: 5px;
        width: calc(100% - 10px);
    }

    .offset {
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px;
        width: calc(100% - 10px);
    }

    .rounded-corners {
        border-radius: 9px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    #context-menu {
        padding: 7px;
    }

    .menuLinkLongAlt {
        padding: 7px;
        height: 45px;
    }

    .menuLink {
        padding: 7px;
    }

    .menuLinkDec {
        padding: 7px;
    }

    .menuLinkLong {
        padding: 7px;
        height: 35px;
    }

    .fullscreenImageBG.active {
        scale: 1.2;
    }

    .footerBG {
        margin: 5px;
        padding: 5px;
        width: calc(100% - 20px);
    }

    .footerContent {
        margin-left: 0%;
        width: 100%;
        grid-template-areas: "div";
    }
}

@media (max-width:600px) {
    nav ul label img {
        z-index: 9999;
        animation: scroll .7s ease-out .3s;
    }

    .tableBg,
    .quickLinks {
        grid-template-areas:
            "image";
    }

    nav ul {
        overflow-y: hidden;
        overflow-x: hidden;
        display: inline;
        white-space: pre-line;
    }

    #check:checked~ul a {
        display: inline;
    }

    nav ul a {
        display: none;
    }
}

@media (min-width:2000px) {
    .tableBg {
        grid-template-areas:
            "image image image";
    }

    .offset {
        padding-left: 20%;
        padding-right: 20%;
        width: auto;
    }
}

@media (min-width:3000px) {
    .tableBg {
        grid-template-areas:
            "image image image";
    }

    .offset {
        padding-left: 27%;
        padding-right: 27%;
        width: auto;
    }
}

@media (min-width:4000px) {
    .tableBg {
        grid-template-areas:
            "image image image";
    }

    .offset {
        padding-left: 35%;
        padding-right: 35%;
        width: auto;
    }
}

.logoAnim {
    animation: logoIn .7s ease-out;
}

.logoTextAnim {
    animation: logoTextIn .7s ease-out;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes playBtnIn {
    0% {
        opacity: 0;
        scale: 0;
    }

    5% {
        opacity: 0;
        scale: 0;
    }

    55% {
        scale: 1.3;
    }

    75% {
        opacity: 1;
        scale: 1.4;
    }

    100% {
        opacity: 0;
        scale: 0;
    }
}

@keyframes scroll {
    0% {
        scale: 1;
    }

    10% {
        scale: .9;
    }

    40% {
        scale: 1.4;
    }

    80% {
        scale: .9;
    }

    100% {
        scale: 1;
    }
}

@keyframes menuIn {
    from {
        opacity: 0;
        transform: translateY(-25%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes menuFrontPage {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }

    75% {
        opacity: 0;
        transform: translateY(-25%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes logoIn {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes logoTextIn {
    from {
        opacity: 0;
        transform: translateX(-55%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}